@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

header{
    background-color: hsl(0,0,17,51);
    width: 100%;
    height:162px;
}

header h1, h2{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

header h1{
    color:white;
}