@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.page p, .page h1, .page h2, .page h4{
    pointer-events:fill;
    font-family: "DM Sans", sans-serif;
    color:white;
    margin:0;
}

.page h1{
    animation: upToDown 1s ease-in;
    text-align: center;
    font-size:4.5em;
    margin-bottom:1%;
    transition: all 0.2s ease-in-out;
}

.page h1:hover{
    color: #3ABDFF;
}

.page p{
    animation: upToDown 1s ease-in;
    max-width:900px;
    text-align: center;
    font-size: 2.1em;
    transition: all 0.2s ease-in-out;
}

.page p:hover{
    color: #2f98cc;
}

.page{
    pointer-events: none;
    margin-top: 15vh;
    width:100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tabList{
    animation: fadeIn 1s ease-in;
    z-index:2;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items:center;
    margin-top:1.2%;
    padding-top:0.65%;
    padding-bottom:0.65%;
    padding-left: 1%;
    padding-right: 1%;
    border: 2px solid #2A2A2A;
    box-shadow: 0 0 6px hsla(0, 0%, 0%, 0.25);
    border-radius: 30px;
}

.tabList button{
    cursor: pointer;
    font-size:1.4em;
    pointer-events: all;
    font-family: "DM Sans", sans-serif;
    color:white;
    background-color: hsla(0,0%,0%,0);
    border:none;
    transition: all 0.2s ease-in-out;
}

.tabList button:hover:not(.bestButton):not(.selected){
    color: #2f98cc;
    animation: glow_1 0.65s ease-in-out infinite alternate;
}

@keyframes glow_1 {
  from {
    text-shadow: 0 0 5px hsla(209, 97%, 64%, 0.5), 0 0 8px hsla(209, 98%, 52%, 0.5);
  }
  to {
    text-shadow: 0 0 8px hsla(207, 100%, 66%, 0.7), 0 0 12px hsla(207, 100%, 66%, 0.7);
  }
}

.tabList button:not(.bestButton):is(.selected){
    color: #3ABDFF;
}

.tabList button:hover:is(.bestButton):not(.selected){
    color: #bb9f01;
    animation: glow_2 0.65s ease-in-out infinite alternate;
}

@keyframes glow_2 {
  from {
    text-shadow: 0 0 5px hsla(56, 100%, 50%, 0.5), 0 0 8px hsla(56, 100%, 50%, 0.5);
  }
  to {
    text-shadow: 0 0 8px hsla(69, 100%, 56%, 0.7), 0 0 12px hsla(69, 100%, 56%, 0.7);
  }
}

.tabList button:is(.bestButton):is(.selected){
    color: #F8D200;
}

.cards{
    margin-top:1.25%;
    max-width:66%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom:8%;
}

.card{
    z-index:1;
    animation: fadeIn 0.35s ease-in;
    margin-right:2%;
    margin-bottom:2%;
    max-width: 30%;
    background-color: hsla(0,0%,0%,0.06);
    border: hsla(0,0%,0%,0.39);
    border-radius: 20px;
    box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.25);
    padding-bottom:1%;
}

.card img{
    animation: fadeIn 1.25s ease-in;
    object-fit:cover;
    height:10%;
    width:100%;
}

.card h2{
    animation: rightToLeft 1s ease-in;
    margin-left:4%;
    font-weight:650;
    margin-top:2.5%;
    margin-bottom:2%;
}

.card h2:hover{
    color: hsl(0, 0%, 85%);
}

.card h4{
    animation: fadeIn 1.25s ease-in;
    border-radius:8px;
    font-weight:500;
    font-size: 0.95em;
    margin-right:2%;
    margin-left:20%;
    width:fit-content;
    padding: 3% 7% 3% 7%;
    background-color: hsla(0,0%,27%,0.18);
    border: 2px solid hsla(0,0%,0%,0.36);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
    transition: all 0.2s ease-in-out;
}

.card h4:hover{
    background-color: hsla(274,70%,31%,0.3);
    border: 2px solid hsla(292,100%,50%,0.5);
    box-shadow: 0 0 15px hsla(310, 100%, 55%, 0.25);
}

.bottom{
    margin-left:5%;
    margin-right:5%;
    margin-top:7.5%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.tech{
    margin-left:2%;
    display: flex;
    justify-content:center;
}

.card p{
    width: 90%;
    margin-left:4%;
    font-size:0.95em;
    text-align: left;
    transition: all 0.2s ease-in-out;
}

.card p:hover{
    color: hsl(0, 0%, 85%);
}

.card img, .bottom button{
    pointer-events: all;
}

.card a img{
    transition: all 0.25s ease-in-out;
}

.card a img:hover{
    box-shadow: 0 0 20px hsla(200, 100%, 50%, 0.53);;
}

.bottom button{
    animation: fadeIn 1.25s ease-in;
    cursor:pointer;
    box-shadow: 0 0 10px hsla(203, 89%, 47%, 0.25);
    border-radius:7px;
    border: 2px solid hsla(184, 98%, 21%, 0.36);
    font-size:0.95em;
    color:white;
    background-color: hsla(200, 100%, 50%, 0.53);
    transition: all 0.2s ease-in-out;
}

.bottom button:hover{
    background-color: hsla(194, 100%, 50%, 0.75);
    box-shadow: 0 0 14px hsla(199, 79%, 52%, 0.75);
}

.disable{
    display:none;
}

@keyframes upToDown{
    0%{
        opacity:0;
        transform: translate(0%, 10%);
    }

    100%{
        opacity:1;
        transform:translate(0%,0%);
    }
}

@keyframes fadeIn{
    from{
        opacity:0;
    }

    to{
        opacity:1;
    }
}

@keyframes rightToLeft{
    0%{
        opacity:0;
        transform: translate(10%, 0%);
    }

    100%{
        opacity:1;
        transform:translate(0%,0%);
    }
}

@media(max-width:1080px){ /* TABLET */
    .page h1{
        font-size:2em;
    }

    .page p{
        font-size: 1.5em;
    }

    .card{
        max-width:45%;
    }

    .card h2{
        font-size:1.2em;
    }

    .card h4{
        display:none;
    }

    .bottom button{
        font-size:0.8em;
    }

    .card p{
        font-size:0.9em;
    }

    .tabList button{
        font-size: 1em;
    }
}

@media(max-width: 600px)
{
    .page{
        margin-top:8vh;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .page h1{
        font-size:3em;
        text-align: center;
    }

    .page p{
        text-align: left;
        max-width:75%;
        font-size: 0.95em;
    }

    .cards{
        max-width:75%;
    }

    .card{
        max-width:100%;
    }

    .card h2{
        font-size:1.2em;
    }

    .card h4{
        display:none;
    }

    .bottom button{
        font-size:0.8em;
    }

    .card p{
        font-size:0.9em;
    }

    .tabList{
        max-width:65%;
    }

    .tabList button{
        font-size: 0.9em;
    }
}