@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.section p,h1,h2{
    pointer-events:fill;
    font-family: "DM Sans", sans-serif;
}

.section h1, p{
    transition: all 0.15s ease-in-out;
    color: white;
}

.section h1:hover, p:hover{
    color: #3ABDFF;
}

.section h2{
    transition: all 0.15s ease-in-out;
    color: #5678FF;
}

.section h2:hover{
    color: rgb(111, 0, 255);
}

.section h1{
    font-size:5.5em;
}

.section h2{
    font-size: 4.2em;
    font-weight: 700;
}

.section p{
    font-size:2.25em;
}

.section{
    pointer-events: none;
    position:absolute;
    height:100vh;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

@media(max-width:1080px){ /* TABLET */
    .section{
        align-items:center;
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }

    .introText{
        text-align: center;
    }

    .section h1{
        font-size:2em;
    }

    .section h2{
        font-size: 1.7em;
    }

    .section img{
        margin-top:5%;
        width:10vh;
        height:10vh;
    }
}

@media(max-width: 600px)
{
    .section{
        align-items: center;
        justify-content: center;
    }

    .introText{
        text-align: left;
        margin-top:15%;
        max-width:400px;
    }

    .section h1{
        font-size:2.75em;
    }

    .section h2{
        font-size: 2em;
    }

    .section p{
        font-size:1.1em;
    }

    .section img{
        margin-bottom:10%;
        width:10vh;
        height:10vh;
    }
}

.introText{
    width:685px;
}

.introText h1{
    margin-top:0%;
    margin-bottom:0.1%;
}

.introText p{
    margin:0;
}

.introText h2{
    margin-top: 0;
    margin-bottom: 3%;
}

.section img{
    pointer-events: all;
    scale:3;
    background-color: hsla(0,0%,0%, 0.18);
    box-shadow: 0 0 10px hsla(199, 79%, 52%, 0.25);
    border-radius:50%;
    border: 3px solid #00AAFF;
    transition: all 0.2s ease-in-out;
}

.section img:hover:not(:active){
    background-color: rgba(53, 8, 66, 0.18);
    box-shadow: 0 0 10px #9900FF;
    border: 3px solid rgb(111, 0, 255);
}