@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

footer{
    z-index: 5;
    box-shadow: 0px 15px 10px -1px hsla(0,0%,0%, 0.15) inset;
    font-family: "DM Sans", sans-serif;
    color:white;
    position:absolute;
    bottom:0;
    right:0;
    display:flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
}

footer h1{
    font-size: 1.35em;
}

footer h2, a{
    font-size:1em;
}

footer a{
    color: white;
    text-decoration: none;
    margin-left:1%;
    margin-right:10%;
}

.section_one{
    margin-top:0.4%;
    margin-left:3%;
}

.socials{
    margin-top:0.4%;
    margin-right:7.5%;
}

.section{
    margin-top:0%;
}

.social{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.social img{
    height: 28px;
    width: 28px;
}

.links{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.links a{
    transition: all 0.15s ease-in-out;
}

.links a:hover{
    color: #3ABDFF;
}