@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.page p,h1,h2{
    pointer-events:fill;
    font-family: "DM Sans", sans-serif;
}

.page h1, .page p{
    animation: loadingAnim 1s ease-in-out;
    transition: all 0.15s ease-in-out;
    color: white;
}

.page h1:hover{
    font-size:5.6em;
    color: #3ABDFF;
}

.page p:hover{
    color: #3ABDFF;
}

.page h2{
    animation: loadingAnim 1s ease-in-out;
    transition: all 0.15s ease-in-out;
    color: #5678FF;
}

.page h2:hover{
    color: rgb(111, 0, 255);
}

.page h1{
    font-size:5.5em;
}

.page h2{
    font-size: 4.2em;
    font-weight: 700;
}

.page p{
    font-size:2.25em;
}

.page{
    pointer-events: none;
    height:100vh;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

@media(max-width:1080px){ /* TABLET */
    .page{
        align-items:center;
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }

    .introText{
        text-align: center;
    }

    .page h1{
        font-size:2em;
    }

    .page h1:hover{
        font-size: 2.2em;
    }

    .page h2{
        font-size: 1.7em;
    }

    .page img{
        margin-top:5%;
        width:10vh;
        height:10vh;
    }
}

@media(max-width: 600px)
{
    .page{
        align-items: center;
        justify-content: center;
    }

    .page h1:hover{
        font-size: 2.8em;
    }

    .introText{
        text-align: left;
        margin-top:15%;
        max-width:400px;
    }

    .page h1{
        margin-top:0.5%;
        font-size:2.75em;
    }

    .page h2{
        margin-top:0.5%;
        font-size: 2em;
    }

    .page p{
        margin-top:0.5%;
        font-size:1.1em;
    }

    .page img{
        margin-bottom:10%;
        width:10vh;
        height:10vh;
    }
}

.introText{
    width:685px;
}

.introText h1{
    margin-top:0%;
    margin-bottom:0.1%;
}

.introText p{
    margin:0;
}

.introText h2{
    margin-top: 0;
    margin-bottom: 3%;
}

.page img{
    pointer-events: all;
    scale:3;
    background-color: hsla(0,0%,0%, 0.18);
    box-shadow: 0 0 10px hsla(199, 79%, 52%, 0.25);
    border-radius:50%;
    border: 3px solid #00AAFF;
    animation: loadingAnim_img 1.5s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.page img:hover:not(:active){
    background-color: rgba(53, 8, 66, 0.18);
    box-shadow: 0 0 10px #9900FF;
    border: 3px solid rgb(111, 0, 255);
}

@keyframes loadingAnim{
    0%{
        opacity:0;
        transform:translate(-10%, -10%);
    }

    100%{
        opacity:1;
        transform:translate(0%,0%);
    }
}

@keyframes loadingAnim_img{
    0%{
        opacity:0;
        transform:translate(10%, 10%);
    }

    100%{
        opacity:1;
        transform:translate(0%,0%);
    }
}