@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.page{
    pointer-events: none;
    margin-top: 15vh;
    min-height:85vh;
    width:100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:center;
}

.page h1, .page p{
    z-index:1;
    margin:0;
    color:white;
    font-family: "DM Sans", sans-serif;
}

.page h1{
    width:70vw;
    font-size: 5em;
    margin-bottom:1%;
}

.page p{
    width:70vw;
    font-size:1.6em;
}

.selectionList{
    animation: fadeIn 1s ease-in;
    z-index:2;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items:center;
    margin-top:1.2%;
    padding-top:0.65%;
    padding-bottom:0.65%;
    padding-left: 1%;
    padding-right: 1%;
    border: 2px solid #2A2A2A;
    box-shadow: 0 0 6px hsla(0, 0%, 0%, 0.25);
    border-radius: 30px;
}

.selectionList button{
    cursor: pointer;
    font-size:1.4em;
    pointer-events: all;
    font-family: "DM Sans", sans-serif;
    color:white;
    background-color: hsla(0,0%,0%,0);
    border:none;
    transition: all 0.2s ease-in-out;
}

.imageSelection{
    width:80%;
    margin-top:2%;
    display:flex;
    justify-content: center;
    align-items:center;
    perspective: 1500px;
}

.imageSelection img{
    z-index:2;
    margin-right:1%;
    width:20%;
    height:20%;
    margin-bottom:2.5%;    
}

.imageSelection img:is(.test1){
    transform: rotateY(-20deg);
}

.imageSelection img:is(.test2){
    transform: rotateY(20deg);
}

.selectionList button:is(.selected){
    color: #3ABDFF;
}