@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.page{
    pointer-events: none;
    margin-top: 15vh;
    min-height:85vh;
    width:100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:center;
}

.page h1, .page p, .page h2, .page ul{
    z-index:1;
    margin:0;
    color:white;
    font-family: "DM Sans", sans-serif;
}

.page ul{
    width:22.7vw; 
    margin-top:1%;
    margin-bottom:1%;
}

.page li{
    font-size: 1.65em;
    margin:0.25%;
}

.page h1{
    width:70vw;
    font-size: 5em;
    margin-bottom:1%;
}

.page p{
    width:70vw;
    font-size:1.6em;
}

.page h2{
    width:70vw;
    font-size:2.2em;
    margin-bottom:0.5%;
    font-weight: 600;
}

.selectionList{
    animation: fadeIn 1s ease-in;
    z-index:2;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items:center;
    margin-top:1.2%;
    padding-top:0.65%;
    padding-bottom:0.65%;
    padding-left: 1%;
    padding-right: 1%;
    border: 2px solid #2A2A2A;
    box-shadow: 0 0 6px hsla(0, 0%, 0%, 0.25);
    border-radius: 30px;
}

.week10{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.week11{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.week13{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.week15{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.week15 p{
    margin-bottom:3%;
}

.week16{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.week17{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.week17 h2{
    margin-top:2.25%;
}

.selectionList button{
    cursor: pointer;
    font-size:1.4em;
    pointer-events: all;
    font-family: "DM Sans", sans-serif;
    color:white;
    background-color: hsla(0,0%,0%,0);
    border:none;
    transition: all 0.2s ease-in-out;
}

.selectionList button:hover{
    color: #018dd3;
}

.imageSelection{
    z-index:1;
    max-width:80%;
    flex-wrap:wrap;
    margin-top:2%;
    display:flex;
    justify-content: center;
    align-items:center;
    perspective: 1500px;
}

.imageSelection img{
    cursor: pointer;
    pointer-events: all;
    z-index:5;
    margin-right:1%;
    width:20%;
    height:20%;
    margin-bottom:2.5%;
    border: 4px solid #00AAFF;
    box-shadow: 10px 0 10px hsla(199, 79%, 52%, 0.25);
    animation: img_border_nohover 3s ease-in-out infinite alternate;
    transition: all 0.15s ease-in-out;
    border-radius: 10px;
}

.imageSelection img:hover{
    background-color: #2A2A2A;
    opacity:0.8;
    width:21.5%;
    height:21.5%;
    transition:0.25s ease-in-out;
    animation: img_border_hover 1.5s ease-in-out infinite alternate;
}

@keyframes img_border_nohover{
    0%{
        border: 3px solid #00AAFF;
        box-shadow: 10px 0 10px hsla(199, 79%, 52%, 0.25);
    }

    100%{
        border: 3px solid #0051ff;
        box-shadow: 10px 0 10px hsla(224, 79%, 52%, 0.4);
    }
}

@keyframes img_border_hover{
    0%{
        border: 3px solid rgb(111, 0, 255);
        box-shadow: 0px 0 10px #9900FF;
    }

    100%{
        border: 3px solid rgb(225, 0, 255);;
        box-shadow: 0px 0 10px #9900FF;
    }
}

.disable{
    display:none;
}

.selectionList button:is(.selected){
    color: #3ABDFF;
}